@import "reset.css";
@import "dynamic.css";

@import "components/control-input.css";
@import "components/divider.css";
@import "components/color-option.css";

body {
  display: flex;
  justify-content: center;
}

#container {
  margin: 16px;
  width: 800px;
  height: 800px;
  position: relative;
}

/* Draw */

#draw {
  position: relative;
}

canvas {
  background-color: white;
  border: 2px solid black;
  border-radius: 24px;
}

#brush {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

/* Control */

#control {
  padding: 16px;
  background: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  box-shadow: -4px 4px 8px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  position: absolute;
  transition: opacity ease-in-out 0.25s;
}

#control__thickness {
  width: 100%;
}

#control__palette {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#control__palette input {
  margin-bottom: 4px;
}
#control__palette div:nth-child(2) {
  display: flex;
  gap: 4px;
}
#control__palette div:last-child {
  display: flex;
  gap: 4px;
}

/* Content */

#control__text,
#control__image,
#control__function {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Image */

#image-input {
  display: none;
}
